

/* font-family: 'Raleway', sans-serif; */

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #E5E5E5;
}

a {
    text-decoration: none;
}

:root {
    --brand-color:#2196F3;
}

/* шапка */

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px; 
    letter-spacing: 0.03em;
    color: #000;
}

.logo-item {
    color: var(--brand-color);
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--brand-color);
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-link:hover,
.contact-link:focus{
    color: var(--brand-color); 
}

/* портфолио */

.filter {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    border: none;
}

.filter:hover,
.filter:focus {
    background-color: var(--brand-color);
    color: #fff;
    cursor: pointer;
}

/* project */

.group {
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
}

.group-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.group-item {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}



/* footer */

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px; 
    letter-spacing: 0.03;   
    color: #fff;
}

.contacts-address{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    /* color: #FFFFFF; */
}

.contacts-link{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    /* color: rgba(255, 255, 255, 0.6); */
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--brand-color);
}


