:root {
    --brand-color:#2196F3;
}



body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #fff;
}

/* font-family: 'Raleway', sans-serif; */

a {
    text-decoration: none;
}

.list {
    list-style: none;
}


/* шапка */

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px; 
    letter-spacing: 0.03em;
    color: #000;
}

.logo-item {
    color: var(--brand-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header-link:hover,
.header-link:focus {
    color: var(--brand-color);
}

.header-list-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-list-link:hover,
.header-list-link:focus{
    color: var(--brand-color); 
}

/* портфолио */

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    border: none;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--brand-color);
    color: #fff;
    cursor: pointer;
}

/* project */

.project-item {
    width: 370px;
    height: 404px;
    border: 1px solid #EEEEEE;
}

.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.project-text{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}



/* footer */

.footer {
    background-color: #2F303A;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 31px; 
    letter-spacing: 0.03;   
    color: #fff;
}

.footer-address{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-link{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--brand-color);
}


